= form_for @visitor do |f|
	- if @visitor.errors.any?
		#error_explanation
			%h2= "#{pluralize(@visitor.errors.count, "error")} prohibited this visitor from being saved:"
			%ul
				- @visitor.errors.full_messages.each do |msg|
					%li= msg
	.field
		= f.label :specimen_id
		= f.text_field :specimen_id
	.field
		= f.label :name
		= f.text_field :name
	.field
		= f.label :dob
		= f.date_select :dob
	.actions
		= f.submit 'Save'
