%h3 Welcome
%h1 DYMO Label Framework JavaScript Library Samples: Preview and Print Label
.header
	#sampleDesctiption
		%span
			This sample shows how new DO Label Framework JavaScript Library can be used to display a WYSIWYG label preview as well as loading label from a local file and print it. This sample demonsrates:
.top
.container
	.row
		#input_form.col-md-4
			= form_for @visitor do |f|
				- if @visitor.errors.any?
					#error_explanation
						%h2= "#{pluralize(@visitor.errors.count, "error")} prohibited this visitor from being saved:"
						%ul
							- @visitor.errors.full_messages.each do |msg|
								%li= msg

				.field
					= f.label :specimen_id
					= f.text_field :specimen_id
				.field
					= f.label :name
					= f.text_field :name
				.field
					= f.label :dob
					= f.date_select :dob, start_year: Date.today.year - 100
				.actions
					-#= f.submit 'Save'

				.printControls
					#printersDiv
						%label{:for => "printersSelect"} Printer:
						%select#printersSelect
					%p
					#printDiv
						%button#printButton{class: 'btn btn-primary'} Print and Save
					%p


		.col-md-4
			.content
				#labelImageDiv
					%img#labelImage{:alt => "label preview", :src => ""}/
